.ActiveQuiz {
    padding: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 0 10px;
    box-sizing: border-box;
    width: 100%;
}

.Question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
